In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_dir = "../../data/transformed_data/"

In [3]:
# USA
df_us_air = pd.read_csv(os.path.join(data_dir, "USA/df_us_air.csv"), index_col=[0])

In [4]:
# Canada
df_ca_air = pd.read_csv(os.path.join(data_dir, 'Canada/df_ca_air.csv'), index_col=[0])

In [5]:
# UK
df_uk_air = pd.read_csv(os.path.join(data_dir, 'UK/df_uk_air.csv'), index_col=[0])

In [6]:
set(df_ca_air.columns).difference(df_uk_air.columns)

{'pm25_mean', 'pm25_units'}

In [7]:
set(df_uk_air.columns).difference(df_ca_air.columns)

{'pm2.5_mean', 'pm2.5_units'}

In [8]:
df_ca_air.rename(columns={'pm25_mean':'pm2.5_mean', 'pm25_units':'pm2.5_units'}, inplace=True)

In [9]:
df_ca_air.replace('ug/m3', 'μg/m3', inplace=True)
df_uk_air.replace('ug/m3', 'μg/m3', inplace=True)
df_us_air.replace('ug/m3', 'μg/m3', inplace=True)

In [10]:
# CO
# UK: mg/m3, US: ppm, CA: ppm - done

# Ozone
# UK: μg/m3, US: ppm, CA: ppb

# NO2
# UK: μg/m3, US: ppb, CA: ppb

# SO2
# UK: μg/m3, US: ppb, CA: ppb

# CO, O3, NO2, SO2 need to align units

In [11]:
"""
Formulas provided by the Center for Hazardous Substance Research at the EPA, pdf:
https://cfpub.epa.gov/ncer_abstracts/index.cfm/fuseaction/display.files/fileid/14285#:~:text=as%20grams%20per%201%2C000%20liters,which%20is%20about%201%20ppb.

"""
molecular_weight_co = 28.01 # g/mol
molecular_weight_o3 = 48 # g/mol
molecular_weight_no2 = 46.0055 # g/mol
molecular_weight_so2 = 64.066 # g/mol

# (µ,m)g/m3 to pp(b,m)
gm3_to_pp = lambda gm3, weight: (gm3 * 24.25)/(weight)

# pp(b,m) to (µ,m)g/m3
pp_to_gm3 = lambda pp, weight: (0.0409 * pp * weight)

In [17]:
df_ca_air

,co_mean,co_units,o3_mean,o3_units,no2_mean,no2_units,so2_mean,so2_units,pm2.5_mean,pm2.5_units,pm10_mean,pm10_units
year,,,,,,,,,,,,
2000,0.464702,ppm,14.981322,ppb,13.304986,ppb,3.918739,ppb,5.977311,μg/m3,13.731744,μg/m3
2001,0.429632,ppm,16.440080,ppb,12.443451,ppb,2.541681,ppb,5.384297,μg/m3,13.258304,μg/m3
2002,0.431412,ppm,16.304480,ppb,12.235973,ppb,2.544733,ppb,5.973789,μg/m3,14.189306,μg/m3
2003,0.421084,ppm,17.127153,ppb,11.975094,ppb,3.047193,ppb,6.284330,μg/m3,14.939431,μg/m3
2004,0.424777,ppm,16.083696,ppb,11.233853,ppb,2.629271,ppb,6.001286,μg/m3,14.737286,μg/m3
2005,0.406889,ppm,16.510797,ppb,10.522745,ppb,2.055812,ppb,5.332327,μg/m3,14.966064,μg/m3
2006,0.377837,ppm,19.322605,ppb,10.263046,ppb,2.506084,ppb,5.217301,μg/m3,14.629019,μg/m3
2007,0.303902,ppm,17.649332,ppb,10.073323,ppb,2.526878,ppb,4.654884,μg/m3,13.111787,μg/m3
2008,0.276882,ppm,18.562693,ppb,9.387899,ppb,3.091262,ppb,4.804525,μg/m3,12.941735,μg/m3
2009,0.263017,ppm,19.131056,ppb,9.418803,ppb,2.716913,ppb,5.523193,μg/m3,13.223317,μg/m3
2010,0.250294,ppm,19.058657,ppb,8.299768,ppb,1.872111,ppb,5.668423,μg/m3,13.650185,μg/m3
2011,0.224834,ppm,19.592575,ppb,8.418642,ppb,1.733533,ppb,5.033673,μg/m3,12.836721,μg/m3
2012,0.234895,ppm,20.037036,ppb,8.695165,ppb,1.813415,ppb,5.369380,μg/m3,13.743371,μg/m3
2013,0.216358,ppm,17.708828,ppb,8.584034,ppb,1.654491,ppb,6.306280,μg/m3,14.115432,μg/m3
2014,0.233473,ppm,19.138756,ppb,8.462984,ppb,1.535604,ppb,6.571821,μg/m3,13.844308,μg/m3
2015,0.270312,ppm,18.338286,ppb,8.550144,ppb,1.140585,ppb,6.818240,μg/m3,13.820502,μg/m3
2016,0.239722,ppm,18.544489,ppb,7.607228,ppb,1.307314,ppb,5.528227,μg/m3,12.028543,μg/m3
2017,0.215048,ppm,20.459438,ppb,8.333871,ppb,1.439992,ppb,8.005949,μg/m3,16.698163,μg/m3

In [12]:
# CO
df_uk_air['co_mean'] = df_uk_air['co_mean'] * 1000
df_uk_air['co_units'] = 'μg/m3'

df_us_air['co_mean'] = pp_to_gm3(df_us_air['co_mean'] * 1000, molecular_weight_co)
df_us_air['co_units'] = 'μg/m3'

df_ca_air['co_mean'] = pp_to_gm3(df_ca_air['co_mean'] * 1000, molecular_weight_co)
df_ca_air['co_units'] = 'μg/m3'

In [13]:
# O3
df_us_air['o3_mean'] = df_us_air['o3_mean'] * 1000
df_us_air['o3_mean'] = pp_to_gm3(df_us_air['o3_mean'], molecular_weight_o3)
df_us_air['o3_units'] = 'μg/m3'

df_ca_air['o3_mean'] = pp_to_gm3(df_ca_air['o3_mean'], molecular_weight_o3)
df_ca_air['o3_units'] = 'μg/m3'

In [14]:
# NO2
df_us_air['no2_mean'] = pp_to_gm3(df_us_air['no2_mean'], molecular_weight_no2)
df_us_air['no2_units'] = 'μg/m3'

df_ca_air['no2_mean'] = pp_to_gm3(df_ca_air['no2_mean'], molecular_weight_no2)
df_ca_air['no2_units'] = 'μg/m3'

In [15]:
# SO2
df_us_air['so2_mean'] = pp_to_gm3(df_us_air['so2_mean'], molecular_weight_so2)
df_us_air['so2_units'] = 'μg/m3'

df_ca_air['so2_mean'] = pp_to_gm3(df_ca_air['so2_mean'], molecular_weight_so2)
df_ca_air['so2_units'] = 'μg/m3'

In [16]:
# PM2.5
df_us_air['pm2.5_mean'] = df_us_air[['pm2.5_mean', 'pm2.5_24h_mean']].mean(axis=1)
del df_us_air['pm2.5_24h_mean']
del df_us_air['pm2.5_24h_units']
df_us_air['pm2.5_units'].fillna('μg/m3', inplace=True)

In [17]:
# PM10
del df_us_air['pm10_24h_mean']
del df_us_air['pm10_24h_units']

# particulate matter and other pollutants used to construct other values were based on hourly measurements,
# dropping the 24 hour values

In [18]:
df_us_air.to_csv(os.path.join(data_dir, "USA/us_air_aligned_units.csv"))
df_uk_air.to_csv(os.path.join(data_dir, "UK/uk_air_aligned_units.csv"))
df_ca_air.to_csv(os.path.join(data_dir, "Canada/ca_air_aligned_units.csv"))

## Fuel data

In [19]:
# USA
df_us_fuel = pd.read_csv(os.path.join(data_dir, "USA/df_us_fuel.csv"), index_col=[0])

In [20]:
# Canada
df_ca_fuel = pd.read_csv(os.path.join(data_dir, 'Canada/df_CA_fuel.csv'), index_col=[0])
df_ca_fuel.rename(columns={'engine_size(l)':'engine_size'}, inplace=True)

In [21]:
# UK
df_uk_fuel = pd.read_csv(os.path.join(data_dir, 'UK/df_uk_fuel.csv'), index_col=[-1])

Transmission cleaning

In [22]:
df_us_fuel.transmission = df_us_fuel.transmission.str.replace(r"Auto\s?\(", "Automatic (")
df_us_fuel.transmission = df_us_fuel.transmission.str.replace(r"Manual\(", "Manual (")

first, second = df_us_fuel.transmission.str.split(n=1, expand=True)[0], df_us_fuel.transmission.str.split(n=1, expand=True)[1]

In [23]:
us_var_trans_idx = np.where(df_us_fuel.transmission.str.contains('[vV]'))[0]
first.iloc[us_var_trans_idx] = 'CVT'
second = second.str.strip("(,)")
third = second.str.findall("([\d]+)")
third = [1 if len(i)==0 else int(i[0]) for i in third]
df_us_fuel['num_gears'] = third
df_us_fuel['transmission'] = first
df_us_fuel.rename(columns={'engine_displacement':'engine_size',\
                           'veh_class':'vehicle_class',\
                          'engine_cylinders':'cylinders'}, inplace=True)

In [24]:
df_ca_fuel['transmission'].iloc[np.where(df_ca_fuel.transmission.str.contains('Auto'))[0]] = 'Automatic'
df_ca_fuel.transmission.replace('Continuously variable', 'CVT', inplace=True)

C:\Users\Marko\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [25]:
# x2 refers to high and low gear ratios, features we dont have for the other countries
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('x2',"")   

df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('SAT', 'Semi-Auto')

# the type of drivetrain isnt something we have for all the countries
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('AWD', '')

df_uk_fuel = df_uk_fuel[df_uk_fuel.transmission != 'Electric'] # 2003 Toyota Prius
df_uk_fuel = df_uk_fuel[df_uk_fuel.transmission !='Hybrid'] # 2002 Toyota Prius

# NE stands for normal economy gears, 10 rows
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('NE', '')

# L stands for low gear ratio, all 2000 Saab cars, 12 rows
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('L', '')

# F for front wheel drive, the type of drivetrain isnt something we have for all the countries
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('^F','')

# /s for close ratio
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('/s','')

# Q = 4 wheel drive
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('Q', '')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace(" ", '')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace("/", '')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('\-$','')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('SP.', '')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('P', '')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('N', '')

In [26]:
# Manual CVT 2010 Nissan Murano
df_uk_fuel['transmission'].iloc[np.where(df_uk_fuel.transmission.str.contains('MCVT'))[0]] = 'M'

# Honda Civic 2007-2009
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('i-SHIFT', 'M')

df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('MultiDriv', 'A')

df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('Multi', 'A')

df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('Semi-Auto', 'A')

# 2000 Honda Accord
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('SS$', 'M')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('SS', 'M')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('G', '')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('DCT', 'M')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('ET', 'M')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('MTA', 'M')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('DM6', 'M6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('D8', 'A8')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('D7', 'A7')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('D6', 'A6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('S6', 'M6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('AE', 'A')

In [27]:
df_uk_fuel.transmission = df_uk_fuel.transmission.str.upper()
# df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('6AMT', 'AMT6')
# df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('5AMT', 'AMT5')
df_uk_fuel.transmission.where(~df_uk_fuel.transmission.str.contains('V'), 'CVT', inplace=True)

In [28]:
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('6MT', 'M6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('5MT', 'M5')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('6AT', 'A6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('4AT', 'A4')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('5AT', 'A5')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('8AT', 'A8')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('4M', 'M4')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('3AT', 'A3')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('10AT', 'A10')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('7MT', 'M7')
# df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('7SP.SSG', 'SP.SSG7')

In [29]:
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('MT6', 'M6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('MT5', 'M5')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('MT7', 'M7')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('7M', 'M7')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('AT6', 'A6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('AT4', 'A4')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('AT5', 'A5')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('AT3', 'A3')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('AT10', 'A10')

In [30]:
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('AT8', 'A6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('MTA5', 'M5')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('MT', 'M')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('AT', 'A')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('MTA6', 'M6')

In [31]:
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('SA6', 'A6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('MS6', 'M6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('ASM', 'M')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('SM6', 'M6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('M6S6', 'M6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('SM7', 'M7')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('AM6', 'M6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('AM5', 'M5')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('AA5', 'A5')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('M6M6', 'M6')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('5AM', 'A5')
df_uk_fuel.transmission = df_uk_fuel.transmission.str.replace('6AM', 'A6')

In [32]:
uk_trans = [match[0] for match in df_uk_fuel.transmission.str.findall('([A-Z]+)')]
uk_trans = [*map({'M': 'Manual', 'A':'Automatic', 'CVT':'CVT'}.get, uk_trans)]
num_gears = [int(match[:1][0]) if len(match) == 1 else 0 for match in df_uk_fuel.transmission.str.findall('(\d+)').values]
df_uk_fuel['num_gears'] = num_gears
df_uk_fuel['transmission'] = uk_trans

Engine Size: converting from Cubic Centimeters to Liters

In [33]:
engine_size = df_uk_fuel.engine_size.str.findall(r"[-+]?\d*\.\d+|\d+")
engine_size = [float(es[0]) for es in engine_size]
df_uk_fuel['engine_size'] = np.round(np.array(engine_size) / 1000, 1)

Fuel Type

In [34]:
df_us_fuel = df_us_fuel[~df_us_fuel.fuel_type.str.contains('Electric')]

In [35]:
df_uk_fuel = df_uk_fuel[~df_uk_fuel.fuel_type.str.contains('Hybrid')]

In [36]:
df_ca_fuel.fuel_type.replace('Ethanol (E85)', 'Flex Fuel', inplace=True)
# df_ca_fuel.fuel_type.value_counts()

In [37]:
df_us_fuel.fuel_type.replace('Gasoline or E85', 'Flex Fuel', inplace=True)
df_us_fuel.fuel_type.replace('Premium or E85', 'Flex Fuel', inplace=True)
df_us_fuel.fuel_type.replace('CNG', 'Natural Gas', inplace=True)
df_us_fuel.fuel_type.replace('Gasoline or natural gas', 'Flex Fuel', inplace=True)
df_us_fuel.fuel_type.replace('Gasoline or propane', 'Flex Fuel', inplace=True)
# df_us_fuel.fuel_type.value_counts()

In [38]:
df_uk_fuel.fuel_type.replace('Petrol', 'Regular', inplace=True)
df_uk_fuel.fuel_type.replace('LPG', 'Natural Gas', inplace=True)
df_uk_fuel.fuel_type.replace('Petrol/E85 (Flex Fuel)', 'Flex Fuel', inplace=True)
df_uk_fuel.fuel_type.replace('Petrol / E85', 'Flex Fuel', inplace=True)
df_uk_fuel.fuel_type.replace('CNG  ', 'Natural Gas', inplace=True)
df_uk_fuel.fuel_type.replace('Petrol / E85 (Flex Fuel)', 'Flex Fuel', inplace=True)
df_uk_fuel.fuel_type.replace('Petrol / E85 ', 'Flex Fuel', inplace=True)
df_uk_fuel.fuel_type.replace('CNG', 'Natural Gas', inplace=True)
df_uk_fuel.fuel_type.replace('LPG/ Petrol', 'Flex Fuel', inplace=True)
df_uk_fuel.fuel_type.replace('Petrol ', 'Regular', inplace=True)
df_uk_fuel.fuel_type.replace('Diesel  ', 'Diesel', inplace=True)
df_uk_fuel.fuel_type.replace('Petrol E85 (Flex Fuel)', 'Flex Fuel', inplace=True)
# df_uk_fuel.fuel_type.value_counts()

In [39]:
del df_us_fuel['fuel_type_1']
del df_us_fuel['drive']
del df_us_fuel['cylinders']
del df_ca_fuel['cylinders']
del df_ca_fuel['comb(l/10km)']
del df_ca_fuel['co2_emissions(g/km)']
del df_us_fuel['turbocharger']
del df_us_fuel['supercharger']

MPG

In [40]:
lkm_to_mpg = lambda x: 235.215/x
df_ca_fuel['highway_mpg'] = lkm_to_mpg(df_ca_fuel['hwy(l/10km)'])
df_ca_fuel['city_mpg'] = lkm_to_mpg(df_ca_fuel['city(l/10km)'])

del df_ca_fuel['city(l/10km)']
del df_ca_fuel['hwy(l/10km)']
df_ca_fuel.rename(columns={'comb(mpg)': 'combined_mpg'}, inplace=True)

In [41]:
df_us_fuel.to_csv(os.path.join(data_dir, "USA/us_fuel_aligned.csv"))
df_ca_fuel.to_csv(os.path.join(data_dir, "Canada/ca_fuel_aligned.csv"))
df_uk_fuel.to_csv(os.path.join(data_dir, "UK/uk_fuel_aligned.csv"))

transmission_decode_dict = {
    'A':'automatic',
    'SS':'sequential shift',
    'SM':'semi-auto',
    'L':'low ratio',
    'NE':'normal economy ratio',
    'N':'normal ratio',
    'Q':'4 wheel drive',
    'T':'turbocharger',
    'x2':'high and low gears',
    'M':'manual',
    'F':'front wheel drive',
    '/s':'close ratio',
    'SAT':'semi-auto',
}